Abg==2.3.1
aiofiles
aiohttp==3.9.3
apscheduler
asyncio==3.4.3
beautifulsoup4
bard
deep-translator
daxxhub
deepai
dnspython
motor==2.5.0
wget
pillow==9.5.0
pymongo==3.12.0
emojis
faker
ffmpeg-python
flask
future==0.18.3
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram==2.0.106
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/Vivekkumar-IN/yt-dlp-youtube-oauth2
gitpython
gpytranslate
gtts
gunicorn==20.1.0
hachoir
heroku3
httpx==0.25.2
httpx[http2]
lexica-api==1.5.1
lyricsgenius
ntgcalls==1.1.2
openai==0.28.0
pickledb
pornhub-api==0.2.0
psutil

pycountry
pyfiglet
pykeyboard
pyromod
pydub
python-dotenv
python-telegram-bot==20.7
python-whois
pyshorteners
pyyaml==6.0.1
qrcode
requests
search_engine_parser
speedtest-cli
spotipy
SpeechRecognition
telegraph
tgcrypto
unidecode
urllib3
uvloop
yt-dlp
pytube
pytz
img2pdf
